.proj-img {
    cursor: pointer;
}

.proj-img:hover {
    opacity: .5;
    border: 1px solid black;
}

.contact-form {
    display: flex;
    flex-direction: column; 
}

.contact-item {
    display: flex;
    flex-direction: column; 
    height: 80px;
}

.contact-item:nth-child(3) {
    height: 200px;
}

.contact-item:nth-child(3) textarea {
    flex: 1;
}

.my-section {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(192, 192, 192, 0.507);
}